html{
  font-size: 16px;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.App-link {
  color: #61dafb;
}

.app-navbar{
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #282c34;
  box-shadow: 2px 2px 5px #1e2229;
}
.app-navbar .active-link{
  border-bottom: 1px solid teal;
}
.app-navbar .btn-cart{
  position: relative;
}
.app-navbar .btn-cart .count{
  position: absolute;
  font-size: 0.7rem;
  background-color: rgb(3, 32, 32);
  color: rgb(10, 185, 185);
  border-radius: 50%;
  padding: 2px 4px;
  top: 0;
  right: -2px;
}
.app-content{
  padding-top: 5rem;
}

input:focus, button:focus{
  outline: 1px dashed #282c34;
}

/* sidebar for filters */
/* .productListing-container{
  border: 1px dashed gray;
} */
.filter-div{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #090a0c;
  box-shadow: 1px 1px 5px #16181d;
}
.filter-div button{
  padding: 0.5rem 1rem;
  /* border:none; */
  color: #9dabc5;
  background-color: #16181b;
}
.filter-div button.active,
.filter-div button:hover{
  background-color: #090a0c;
  color: white;
}

.filter-section, .sort-section{
  width: 100%;
  /* margin: auto; */
  padding: 0.5rem;
}
.btn-close-options{
  position: absolute;
  top: -0.6rem;
  right: 0.5rem;
}

.product-card .image-wrapper,
.cart-item-imagewrapper{
  height: 200px;
}
.product-card-image,
.cart-item-image{
  max-height: 180px;
  width: auto;
  max-width: 100%;
}

/* desktop only */
@media(min-width: 768px){
  .filter-sidebar{
    max-width: 240px;
    background-color: #16181b;
  }
  .filter-div{
    max-width: 250px;
    background-color: #16181b;
    position: relative;
    margin-top: 1rem;
  }
  .filter-sticky{
    position: sticky;
    top: 4rem;
    max-width: 240px;
    will-change: transform
  }

  
  #footer{
    margin-bottom: 0 !important; 
  }
}

/* mobile only utilities */
@media (max-width: 767px) {
  .hiddenMobile{
    display: none;
  }
  .productlist{
    grid-gap: 0.75rem;
  }
}